BeautifulSoup==3.2.1
Django==1.6.1
Pillow==2.3.0
PyYAML==3.10
cssselect==0.9.1
dj-database-url==0.2.2
dj-static==0.0.5
django-pdb==0.3.2
django-redis==3.4.0
django-toolbelt==0.0.1
goose-extractor==1.0.6
gunicorn==18.0
jieba==0.31
lxml==4.6.2
nltk==2.0.4
psycopg2==2.5.2
pyteaser==1.0
redis==2.9.0
requests==2.2.0
static==0.4
twitter==1.10.2
wsgiref==0.1.2
